streamlit==1.50.0
firebase-admin==7.1.0
pandas==2.3.3
openpyxl==3.1.5
Flask==3.1.0
flask-cors==5.0.1
requests==2.32.3
protobuf==6.32.1
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.1
google-auth==2.41.1
altair==5.5.0
numpy==2.3.3
pillow==11.3.0
python-dotenv==1.0.1
